<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net48" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net48" />
  <package id="CsvHelper" version="12.2.3" targetFramework="net48" />
  <package id="CurrencyTextbox" version="2.0.2" targetFramework="net48" />
  <package id="Extended.Wpf.Toolkit" version="3.7.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="SonarAnalyzer.CSharp" version="8.1.0.13383" targetFramework="net48" developmentDependency="true" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>